{% extends "base_generic.html" %}
{% block content %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="product__details__text">
                        <h3>{{ form.title }}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        {% if product.sale %}
                            <h3>Цена со скидкой</h3><div class="product__details__price">{{ form.discounted_price }}
                            <h3>Цена без скидки</h3>{{ form.price }}</div>
                        {% endif %}
                    <div>{{ form.description }}</div>
                        <div>{{ form.category }}</div>
                        <div>
                            <br><br><br>
                        <h3>Weight</h3>
                        <div>{{ form.weight }}</div>
                        </div>
                        <div><tr class="product__details__pic">
                    {% if product.prodimage %}
                        {% for image in product.prodimage.all %}
                            <tr>
                            <td class="shoping__cart__item"><img data-imgbigurl="../../../{{ image.file }}"
                                src="../../../{{ image.file }}" alt="" width="200" height="200">
                            </td>
                            <td class="shoping__cart__item__close">
                                                <a href="{% url "shop:image_remove" image.id product.id%}"><span class="icon_close"></span></a>
                            </td>
                            </tr>
                        {% endfor %}
                        {{ form.file }}
                    {% endif %}
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                    <button type="submit" class="site-btn">SAVE</button>
                </form>
            </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->


    <!-- Footer Section Begin -->
{% endblock %}